.add-form{
    max-height: calc(100vh - 48px);
}
.form-inputs{
    overflow: auto;
}
.open{
    transition: transform .3s ease-out;
    transform:none;
}
.media-preview{
    width: 10%;
    height: 100px;
    object-fit: cover;
    padding: 3px;
}
